dlib==20.0.0
fastapi==0.123.2
joblib==1.5.2
keras==3.12.0
mediapipe==0.10.14
numpy==2.3.5
opencv_contrib_python==4.11.0.86
opencv_python==4.12.0.88
Requests==2.32.5
scikit_learn==1.7.2
tensorflow==2.20.0
uvicorn==0.38.0
