<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title> Mask Detection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1> Mask Detection System</h1>
        <p class="subtitle">MediaPipe + PyTorch | Real-time Inference</p>
        
        <div class="video-container">
            <img id="video" alt="Загрузка...">
        </div>
        
        <div id="status" class="status"></div>
        
        <div class="controls">
            <label for="camList"></label><select class="cam-list" id="camList" onclick="listCameras(3)" onchange="onSelectCamIDChange(event)">
                <option class="cam-btn" value="-1">Выбор камеры:</option>
            </select>
            <button onclick="listCameras(3)"> Скан камер</button>
            <button onclick="takeScreenshot()"> Скриншот</button>
            <button class="danger" onclick="resetTracks()"> Сброс треков</button>
            <button class="toggle-logs" onclick="toggleLogs()">  Логи</button>
        </div>
        
        <div class="stats">
            <h3> Системная информация</h3>
            <div id="statsContent">
                Загрузка статуса...
            </div>
<!--            <div class="cam-list" id="camList"></div>-->
        </div>

        <!-- Logs panel -->
        <div id="logsPanel">
            <div id="logsHeader" onclick="toggleLogs()">
                 Системные логи <span id="logsCount">(0)</span>
            </div>
            <div id="logsContent"></div>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
